@import '../../sass/colors';
@import '../../sass/typography';

.grid-section {
    width: 100%;
    margin: 6rem 0 0 0;
    &__grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 3rem 0 0 0;
    }
    &__heading {
        display: inline-block;
        font-family: $serif;
        font-size: 3.5rem;
        &:hover {
            color: $green;
        }
    }
    &__link {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 3rem 0 0 0;
        &:hover {
            color: $green;
        }
    }
}