@import '../../sass/colors.scss';
@import '../../sass/typography.scss';

.list-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 3rem 0;
    &__name {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        font-size: 3.5rem;
        font-family: $serif;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
    &__svg {
        height: 50px;
        right: 0;
        width: 50px;
        stroke: $black;
        &:hover {
            cursor: pointer;
            stroke: $green;
        }
    }
    &--column {
        align-items: flex-start;
        flex-direction: column;
        margin: 0 0 6rem 0;
        & .list-heading__name {
            margin: 0 0 3rem 0;
        }
    }
}