@import '../../sass/colors.scss';
@import '../../sass/typography.scss';

.results-section {
    margin: 3rem 0 0 0;
    &__apology {
        font-size: 2rem;
        font-weight: 600;
        color: $green;
    }
    &__green-text {
        color: $green;
    }
}