@import '../../sass/colors';
@import '../../sass/typography';

.delete-link {
    display: none;
    height: 30px;
    left: 0;
    margin: .5rem 0 0 .5rem;
    position: absolute;
    stroke-width: 1.5px;
    top: 0;
    width: 30px;
}