@import '../../sass/colors.scss';
@import '../../sass/typography.scss';

.search-result {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    &:hover {
        color: $green;
        cursor: pointer;
        & svg {
            stroke: $green;
        }
    }
    &__img {
        border-radius: 5px;
        display: inline-flex;
        height: auto;
        margin: 0 2rem 0 0;
        width: 75px;
    }
    &__img-placeholder {
        font-size: 2.5rem;
        padding-bottom: 75px;
        margin: 0 2rem 0 0;
        width: 75px;
    }
    &__name {
        display: inline-flex;
        font-size: 1.25rem;
    }
    &__svg {
        stroke: $black;
        height: 50px;
        width: 50px;
    }
    &__type {
        font-size: 1rem;
        margin: .5rem 0 0 0;
        text-transform: capitalize;
    }
    &__wrapper {
        width: 100%;
        &:hover {
            color: $green;
        }
        display: flex;
        align-items: center;
    }
}