@import '../../sass/typography.scss';
@import '../../sass/colors.scss';
@import '../../sass/numbers.scss';

.header {
    align-items: center;
    background-color: white;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    left: 0;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    &__app-name {
        color: $green;
        font-family: $serif;
        font-size: 1.75rem;
        font-weight: 600;
        margin: 1rem 0;
    }
    &__svg {
        height: 32px;
        width: 32px;
        stroke: $green;
        stroke-width: 1px;
        &:hover {
            cursor: pointer;
        }
    }
}