@import '../sass/colors.scss';
@import '../sass/typography.scss';

.browse-by-page {
    color: $black;
    margin: 6rem 0 0 0;
    max-width: 800px;
    width: 100%;
    &__empty-message {
        color: $green;
        font-size: 2.5rem;
        font-weight: bold;
    }
    &__heading {
        color: $black;
        font-family: $serif;
        font-size: 3.5rem;
        text-transform: lowercase;
    }
    &__heading-w-svg {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 3rem 0;
        &--column {
            align-items: flex-start;
            flex-direction: column;
            margin: 0;
        }
    }
    &__links {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
    &__link {
        font-size: 2.5rem;
        font-weight: 600;
        &:hover {
            color: $green;
        }
    }
    &__svg {
        height: 50px;
        stroke: $black;
        width: 50px;
        &:hover {
            cursor: pointer;
            stroke: $green;
        }
    }
}