@import '../sass/colors.scss';
@import '../sass/typography.scss';

.filtered-page {
    margin: 6rem 0;
    max-width: 800px;
    min-width: 800px;
    &__heading {
        font-family: $serif;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: .8;
        margin: 0 0 5rem 0;
        text-transform: lowercase;
    }
    &__green-text {
        color: $green;
    }
    &__loading {
        margin: 6rem 0;
    }
}