@import '../sass/colors.scss';
@import '../sass/typography.scss';

.filtered-page {
    margin: 6rem 0;
    max-width: 800px;
    min-width: 800px;
    &__heading {
        font-family: $serif;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: .8;
        margin: 0 0 5rem 0;
        text-transform: lowercase;
    }
    &__green-text {
        color: $green;
    }
    &__grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 6rem 0;
    }
    &__input {
        border: none;
        color: $black;
        font-family: $sans-serif;
        font-size: 3rem;
        font-weight: 500;
        line-height: 2;
        outline: none;
    }
    &__searchbar {
        align-items: center;
        border-bottom: 1px solid $black;
        display: flex;
        width: 100%;
    }
    &__searchbar-wrapper {
        align-items: center;
        display: flex;
    }
    &__svg {
        height: 50px;
        stroke: $black;
        width: 50px;
        &:hover {
            cursor: pointer;
            stroke: $green;
        }
    }
    &__svg--search {
        margin: 0 1rem 0 0;
    }
    &__svg--close {
        margin: 0 0 0 1rem;
    }
}