@import '../sass/colors.scss';
@import '../sass/typography.scss';

.img-placeholder {
    background-color: white;
    border: 1px solid $green;
    border-radius: 5px;
    display: block;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    &__letter {
        color: $green;
        display: flex;
        font-family: $serif;
        font-size: 3rem;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}