@import '../sass/colors';
@import '../sass/typography';

.recipe-square {
    font-family: $sans-serif;
    height: fit-content;
    position: relative;
    &__delete-button {
        display: none;
        height: 30px;
        left: 0;
        margin: .5rem 0 0 .5rem;
        position: absolute;
        stroke-width: 1.5px;
        top: 0;
        width: 30px;
    }
    &__img {
        border-radius: 5px;
        height: auto;
        width: 100%;
    }
    &__meta-data {
        font-size: .8rem;
        margin: .5rem 0 0 0;
        &--bold {
            font-weight: 600;
        }
    }
    &__name {
        font-size: 1.25rem;
        margin: 1rem 0 0 0;
    }
    &:hover {
        .recipe-square__link {
            color: $green;
        }
        & img {
            box-shadow: 10px -10px $green;
        }
        & .recipe-square__delete-button {
            display: block;
            stroke: $green;
        }
    }
}