@import '../sass/colors.scss';
@import '../sass/typography.scss';

.search-page-results {
    &__grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}