@import '../../sass/colors';
@import '../../sass/typography';

.square {
    font-family: $sans-serif;
    height: fit-content;
    position: relative;
    &__img {
        border-radius: 5px;
        display: inline-block;
        height: auto;
        padding: 0;
        width: 100%;
        &--ingredient {
            padding: 1.5rem;
        }
    }
    &__name {
        font-size: 1.25rem;
        margin: 1rem 0 0 0;
        text-transform: capitalize;
        word-break: break-word;
    }
    &__options {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: .75rem 0 0 0;
    }
    &__svg {
        height: 26px;
        stroke-width: 1.5px;
        width: 26px;
        &--fav {
            fill: $black;
        }
    }
    &:hover {
        & img, & .img-placeholder {
            box-shadow: 10px -10px $green;
        }
        & .img-placeholder {
                background-color: white;
                .img-placeholder__letters {
                    color: $green;
                }
        }
        & .square__img--ingredient {
            border: 1px solid $green;
            padding: calc(1.5rem - 1px);
        }
        & .square__name, & a, & .meta-data {
            color: $green;
        }
        & .square__svg {
            fill: $green;
            stroke: $green;
        }
    }
}