@import '../../sass/colors';
@import '../../sass/typography';

.square {
    font-family: $sans-serif;
    height: fit-content;
    position: relative;
    &__img {
        border-radius: 5px;
        height: auto;
        width: 100%;
    }
    &__name {
        font-size: 1.25rem;
        margin: 1rem 0 0 0;
        text-transform: capitalize;
    }
    &:hover {
        .square__link {
            color: $green;
        }
        & img {
            box-shadow: 10px -10px $green;
        }
        & .delete-link {
            display: block;
            stroke: $green;
        }
    }
}