@import '../../sass/typography.scss';
@import '../../sass/colors.scss';
@import '../../sass/numbers.scss';

.auth-page {
    &__error-message {
        color: red;
        margin: 1.5rem 0 0 0;
    }
    &__form-wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title {
        color: $black;
        font-family: $serif;
        font-size: 2.25rem;
        font-weight: 600;
        margin: 0 0 1.5rem 0;
        line-height: .75;
    }
}